.main_header{
    width: 100%;
    background-color: $color-primary;

    .main_header_navigation{
        width: 100%;
        margin: 0 auto;
        padding: 20px;

        a{
            color: #FFF;
            padding: 12px;
            
            &:hover{
                color: #F90;
            }
        }
    }
}
